{{ define "main" }}
<div class="grid-page">
  
    <section>
          <h1>{{ .Title }}</h1>
          {{ .Content }}
    </section>
    <section>
    <div class="gridflex">
        {{ range .Pages.ByParam "part" }}
        <div class="grid-item">
            <div> <!-- the above div is flex, so can get h2 & p on same line -->
                <h2>{{ .Title }}</h2>
                <p>{{ .Params.intro }} <a href="{{ .RelPermalink }}">
                <img class="read-more" src="/images/readmore.svg"></a></p>
            </div>
        </div>
        {{ end }} 
    </div>
    </section>
</div>    
</main>
{{ end }}

